<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>aristo</param-value>
    </context-param>
    <filter>
        <filter-name>PrimeFaces FileUpload Filter</filter-name>
        <filter-class>
            org.primefaces.webapp.filter.FileUploadFilter
        </filter-class>
    </filter>
    <filter-mapping>
        <filter-name>PrimeFaces FileUpload Filter</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index.xhtml</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <display-name>RegisteredUserOnly</display-name>
        <web-resource-collection>
            <web-resource-name>Charts</web-resource-name>
            <description/>
            <url-pattern>/faces/charts.xhtml</url-pattern>
            <url-pattern>/charts.xhtml</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Summary</web-resource-name>
            <description/>
            <url-pattern>/faces/summary.xhtml</url-pattern>
            <url-pattern>/summary.xhtml</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Profile</web-resource-name>
            <description/>
            <url-pattern>/faces/profile.xhtml</url-pattern>
            <url-pattern>/profile.xhtml</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Upload</web-resource-name>
            <description/>
            <url-pattern>/faces/upload.xhtml</url-pattern>
            <url-pattern>/upload.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Access for registered users only</description>
            <role-name>Users</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>MyOzoneJdbcRealm</realm-name>
        <form-login-config>
            <form-login-page>/faces/login.xhtml</form-login-page>
            <form-error-page>/faces/login.xhtml</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description>Registered User</description>
        <role-name>Users</role-name>
    </security-role>
</web-app>
