<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="ProjectConfiguration" type="Integri.Common.Configuration.ProjectConfigurationSection, Integri.Common"/>
        <section name="log4net" type="Integri.Common.Configuration.XmlNodeSectionHandler, Integri.Common" />
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <ProjectConfiguration>
        <projects root="d:\temp\integri\projects\">
            <add name="PDU" path="PDU\Source\" mci="PDU.eci"/>
            <!--
            <add name="BE" path="dom_spr\Source\" mci="dom_spr.eci"/>
            <add name="Modely" path="modely\Source\" mci="modely.eci"/>
            <add name="Evozbd" path="Evozbd\Source\" mci="evozbd.eci"/>
            <add name="System" path="system\Source\" mci=""/>
            <add name="MTZ" path="MTZ\Source\" mci="MTZ.eci"/>
            <add name="Mzdy10" path="mzdy\Source\" mci="mzdy10.eci"/>
            <add name="Person10" path="person10\Source\" mci="Person10.eci"/>
            <add name="EVOZ" path="EVOZ\Source\" mci="Evoz.eci"/>-->
        </projects>
    </ProjectConfiguration>
    
    <!-- Logging configuration -->
    <log4net>
        <appender name="MainAppLog" type="log4net.Appender.RollingFileAppender">
            <param name="File" value="CallByNameChecker.log" />
            <param name="MaximumFileSize" value="2MB" />
            <param name="MaxSizeRollBackups" value="8" />
            <param name="RollingStyle" value="Size" />
            <param name="CountDirection" value="-1" />
            <param name="StaticLogFileName" value="True" />
            <layout name="StandardLayout" type="log4net.Layout.PatternLayout">
                <param name="ConversionPattern" value=":STD: %d{yyyy-MM-ddTHH:mm:sss.fffff} %p %t %c %m%n" />
            </layout>
        </appender>
        <appender name="ConsoleLog" type="log4net.Appender.ConsoleAppender" >
            <layout type="log4net.Layout.PatternLayout">
                <param name="ConversionPattern" value="[%t] %p %c %m%n" />
            </layout>
        </appender>
        <root>
            <level value="INFO" />
            <appender-ref ref="MainAppLog" />
            <appender-ref ref="ConsoleLog" />
        </root>
    </log4net>
</configuration>
