<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="ProjectConfiguration" type="Integri.Common.Configuration.ProjectConfigurationSection, Integri.Common"/>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <ProjectConfiguration>
        <projects root="d:\temp\integri\projects\">
            <add name="Evozbd" path="Evozbd\Source\" mci="evozbd.eci"/>
            <add name="Modely" path="modely\Source\" mci="modely.eci"/>
            <add name="System" path="system\Source\" mci=""/>
            <add name="PDU" path="PDU\Source\" mci="PDU.eci"/>
            <add name="BE" path="dom_spr\Source\" mci="dom_spr.eci"/>
            <!--<add name="MTZ" path="MTZ\Source\" mci="MTZ.eci"/>
            <add name="Mzdy10" path="mzdy\Source\" mci="mzdy10.eci"/>
            <add name="Person10" path="person10\Source\" mci="Person10.eci"/>
            <add name="EVOZ" path="EVOZ\Source\" mci="Evoz.eci"/>-->
        </projects>
    </ProjectConfiguration>
</configuration>
