<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/style.css" />
    <meta charset="UTF-8">
    <title>Birch Hill Power</title>
</head>
<body>
    <h1>Feel the power!</h1>
    <!--<div id='power_over_day' class='chart'></div>
    <div style="width: 100%; overflow: hidden;">
        <div style="width: 600px; float: left;" id='power_bar' class='chart'></div>
        <div style="width: 620px;" id='power_over_month' class='chart'></div>
    </div>-->
    <div id='power_over_day' class='chart'></div>
    <div id='power_bar' class='chart'></div>
    <table>
        <thead>
            <tr>
                <th>Time:</th>
                <th>Average Power:</th>
                <th>Over Duration:</th>
            </tr>
        </thead>
        <tbody>
        {% for reading in samplePowerReadings %}
            <tr>
                <td>{{ "{:%H:%M:%S}".format(reading['timestamp']) }}</td>
                <td class="number">{{ "{:.1f}W".format(reading['power']) }}</td>
                <td class="number">{{ "{:.3f}s".format(reading['duration']) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var power_over_day = {{podJson | safe}};
  Plotly.plot('power_over_day',power_over_day,{});

  var power_bar = {{pbJson | safe}};
  Plotly.plot('power_bar',power_bar,{});

  /*var power_over_month = {{pomJson | safe}};
  Plotly.plot('power_over_month',power_over_month,{});*/
</script>
</html>