*.obj
*.lib
*.suo
*.ncb
*.user
*.idb
*.pdb
Debug/
Release/
*.tar.gz
*.dsc
*.deb
*.exe
*.[aos]
*.py[co]
java/*/build/
java/*/dist/
java/*/nbproject/private/
java/*/bin/
csharp/*/bin/
csharp/*/obj/
*.settings
java/.metadata
java/*/*/build/
java/*/*/dist/