<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<ApplicationConfiguration>
    <log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j">
		
		<root> 
			<priority value ="debug" /> 
			<appender-ref ref="ConsoleLog" />
			<appender-ref ref="MyConsoleLog" />
			<appender-ref ref="FileLog" />
		</root>
		
		<!-- An appender which writes to file -->
		<appender name="FileLog" class="org.apache.log4j.RollingFileAppender">
			<param name="File" value="./Log/notwa.log" />
			<param name="MaxFileSize" value="2MB" />
			<param name="MaxBackupIndex" value="8" />
			<layout class="org.apache.log4j.PatternLayout">
				<param name="ConversionPattern" value="%d %p %t %c %m%n"/>
			</layout>
		</appender>

		<appender name="ConsoleLog" class="org.apache.log4j.ConsoleAppender">
			<layout class="org.apache.log4j.PatternLayout">
				<param name="ConversionPattern" value="%d %p %t %c %m%n"/>
			</layout>
		</appender>

		<appender name="MyConsoleLog" class="log4jlogger.MyOwnAppender">
			<layout class="org.apache.log4j.PatternLayout">
				<param name="ConversionPattern" value="%d %p %t %c %m%n"/>
			</layout>
		</appender>

	</log4j:configuration>
</ApplicationConfiguration>