.navbar
{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px;
    border-color: green;
    border-style: solid;
    background-color: black;
}

.nav-item
{
    padding-right: 20px;
}