<?xml version="1.0" encoding="UTF-8" standalone="no"?><NotwaConfiguration>
    <AvailableDatabases>
        <Database dbname="notwa" host="213.192.44.108" label="Integri Private" password="ahoj" port="9970" user="merxbj"/>
    </AvailableDatabases>
    <ApplicationSettings>
        <Skin name="" />
    </ApplicationSettings>
</NotwaConfiguration>