*
{
    font-family:Arial;
    color:darkblue;
}

*.number
{
    text-align: right;
}

a:link 
{
    color: #000099;
    text-decoration: none;
}

a:visited 
{
    color: #000099;
    text-decoration: none;
}

a:hover 
{
    text-decoration: none; 
    color: #ff9900;
    font-weight:bold;
}

a:active 
{
    color: red;
    text-decoration: none;
}

td,tr
{
    border-color:blue;
    border-collapse:collapse;
    border-style:dashed;
    border-width: 1px;
    padding: 2px 2px 2px 2px;
    text-align: left;
}

*.playerOnTurn
{
    border-style: solid;
    background-color: lavender;
}

th,table
{
    border-color:darkblue;
    border-collapse:collapse;
    border-style:solid;
    border-width: 2px;
    padding: 1px 20px 1px 20px;
}

table caption
{
    font-size: 15px;
    text-align: left;
    padding-bottom: 5px;
    font-weight: bold;
}

h7
{
    font-size: 15px;
    text-align: right;
}

h2
{
    font-size: 15px;
    margin-top: -20px;
}

h3
{
    /*font-size: 15px;
    margin-top: -20px;*/
}

h4
{
    font-size: 13px;
    margin-top: -10px;
}

#container
{
    width: 100%;
    height: 100%;
    position: absolute;
}

#field
{
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
    position: relative;
    float: left;
    height: 501px;
}

#playerBar
{
    height: 75%;
    margin: 10px;
    position: relative;
    float: right;
}

#gameControll
{
    float: left;
    width: 100%;
    margin-top: 10px;
    margin-right: 10px;
    position: absolute;
    padding: 10px;
    top: 768px;
}

*.underline
{
    margin-top: 1%;
    position: relative;
    text-align: right;
    width: 99%;
    top: 90%;
    /*border: 1px red solid;*/
}

li.menuItemSelected
{
    color: #ff9900;
    font-weight:bold;
}

p
{
    margin-left: 10px;
}

p.signature
{
    text-align: right;
}

table.formHelper
{
    border: none;
}

table.formHelper td,tr,th
{
    border: none;
}

*.rightAligned
{
    text-align: right;
}

fieldset#stagesData, #optionalData, #control
{
    margin-top: 20px;
}

a:link#blueStyleChanger
{
    color: #000099;
    text-decoration: none;
}

a:visited#blueStyleChanger
{
    color: #000099;
    text-decoration: none;
}

a:hover#blueStyleChanger
{
    text-decoration: none; 
    color: #ff9900;
    font-weight:bold;
}

a:active#blueStyleChanger
{
    color: red;
    text-decoration: none;
}

a:link#greenStyleChanger
{
    color: #009900;
    text-decoration: none;
}

a:visited#greenStyleChanger
{
    color: #009900;
    text-decoration: none;
}

a:hover#greenStyleChanger
{
    text-decoration: none; 
    color: #ff9900;
    font-weight:bold;
}

a:active#greenStyleChanger
{
    color: red;
    text-decoration: none;
}

a:link#noStyleChanger
{
    color: #aaaaaa;
    text-decoration: none;
}

a:visited#noStyleChanger
{
    color: #aaaaaa;
    text-decoration: none;
}

a:hover#noStyleChanger
{
    text-decoration: none; 
    color: #ff9900;
    font-weight:bold;
}

a:active#noStyleChanger
{
    color: red;
    text-decoration: none;
}