/* 
    Document   : style
    Created on : 23.3.2011, 7:36:14
    Author     : tomas
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

* {
    font-family: Verdana, Arial, sans-serif;
}

